.support-us {
  max-width: 800px;
  margin: 20px auto;
}

.support-us p {
  font-size: 14px;
}

.support-us .title {
  color: #20bf6b;
  font-weight: bold;
}

.support-us .divider-text {
  font-size: 16px;
}