.container {
  margin: 20px auto;
  max-width: 1600px;
}

.container p {
  color: red;
  text-align: center;
}

.drop-container {
  border: 1px dashed #bdc3c7;
  border-radius: 4px;
  background-color: white;
  padding: 30px;
  margin: 0 auto 20px auto;
}

.file-display-container {
  width: 100%;
  text-align: left;
}

.file-status-bar {
  width: 100%;
  /* vertical-align:top; */
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  /* line-height: 50px; */
  /* height: 50px; */
}

.file-status-bar > div {
  overflow: hidden;
}

.file-type {
  display: inline-block!important;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-top: 25px;
  padding: 0 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #abc;
  color: #fff;
  background: #0080c8;
  text-transform: uppercase;
}

.file-name {
  display: inline-block;
  /* vertical-align:top; */
  /* margin-left: 50px; */
  color: #4aa1f3;
}

.file-error {
  display: inline-block;
  /* vertical-align: top; */
  /* margin-left: 50px; */
  color: #9aa9bb;
}

.error-message {
  color: red;
  margin: 20px auto;
}

.default-margin {
  margin: 20px auto;
}

.file-remove  {
  cursor: pointer;
  color: red;
}

.file-upload-btn {
  color: white;
  text-transform: uppercase;
  outline: none;
  background-color: #4aa1f3;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-input {
  display: none;
} 