.container {
  margin: 20px auto;
  max-width: 1600px;
}

@media only screen and (max-width: 1600px) {
  .container {
    margin: 20px 5%;
  }
}

.container p {
  color: red;
  text-align: center;
}

.drop-container {
  border: 1px dashed #bdc3c7;
  border-radius: 4px;
  background-color: white;
  padding: 30px;
  margin: 0 auto 20px auto;
}

.file-error {
  display: inline-block;
  /* vertical-align: top; */
  /* margin-left: 50px; */
  color: #9aa9bb;
}

.error-message {
  color: red;
  margin: 20px auto;
}

.default-margin {
  margin: 20px auto;
}

.file-remove  {
  cursor: pointer;
  color: red;
}

.file-input {
  display: none;
}

.file-tree {
  border: 1px dashed #ccc;
  font-size: 16px;
  background: transparent;
  padding: 10px;
}

.ant-tree-switcher {
  background: transparent !important;
}