.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.container p {
  color: red;
  text-align: center;
}

.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px dashed #bdc3c7;
  max-width: 1600px;
  border-radius: 4px;
  background-color: white;
}

.upload-icon {
  width: 50px;
  height: 50px;
  background: url(../../assets/upload.svg) no-repeat center center;
  background-size: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.drop-message {
  text-align: center;
  color: #27ae60;
  font-size: 20px;
}

.file-display-container {
  width: 100%;
  text-align: left;
}

.file-status-bar {
  width: 100%;
  /* vertical-align:top; */
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  /* line-height: 50px; */
  /* height: 50px; */
}

.file-status-bar > div {
  overflow: hidden;
}

.file-type {
  display: inline-block!important;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-top: 25px;
  padding: 0 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #abc;
  color: #fff;
  background: #0080c8;
  text-transform: uppercase;
}

.file-name {
  display: inline-block;
  /* vertical-align:top; */
  /* margin-left: 50px; */
  color: #4aa1f3;
}

.file-error {
  display: inline-block;
  /* vertical-align: top; */
  /* margin-left: 50px; */
  color: #9aa9bb;
}

.file-error-message {
  color: red;
}

.file-type-logo {
  width: 50px;
  height: 50px;
  background: url(../../assets/generic.png) no-repeat center center; 
  background-size: 100%;
  position: absolute;
}

.file-size {
  display:inline-block;
  vertical-align:top;
  color:#30693D;
  margin-left:10px;
  margin-right:5px;
  margin-left: 10px;
  color: #444242;
  font-weight: 700;
  font-size: 14px;
}

.file-remove  {
  position: absolute;
  top: 20px;
  right: 10px;
  line-height: 15px;
  cursor: pointer;
  color: red;
  margin-right: -10px;
}

.file-upload-btn {
  color: white;
  text-transform: uppercase;
  outline: none;
  background-color: #4aa1f3;
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 5px;
}

.file-input {
  display: none;
} 