.friends svg {
  width: 150px;
  height: 150px;
}

.support svg {
  width: 150px;
  height: 150px;
}

.homescreen svg {
  width: 256px;
  height: 28px;
}

.skytransfer-logo svg {
  width: 90px;
  height: 90px;
  margin: 10px auto;
}
