.notification {
  text-align: center;
  padding: 8px 20px;
  font-size: 14px;
  background-color: #27ae60;
  color: #fff;
}

.notification a,
.notification a:visited {
  font-weight: bold;
  color: #fff;
}

.notification a:hover {
  font-weight: bold;
  color: #fff;
}
