@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  font-family: 'Lato', sans-serif;
  background: #f0f2f5;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.logo {
  font-size: 30px;
  color: #20bf6b;
  font-weight: bold;
}

/* .layout {
  background-color:transparent;
} */