@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
  background: #efefef;
}

.ant-layout {
  background: #efefef;
}

.ant-layout-footer {
  background: #efefef;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.logo {
  font-size: 30px;
  color: #20bf6b;
  font-weight: bold;
}

/* .layout {
  background-color:transparent;
} */

.container {
  margin: 20px auto;
  width: 1080px;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 20px 5%;
    width: 90%;
  }
}
