@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  background-color: #f0f2f5;
}

.layout {
  background-color: #f0f2f5;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.logo {
  font-size: 20px;
  float: left;
  color: #20bf6b;
  font-weight: bold;
  text-align: left;
  margin-right: 10px;
}

.site-layout {
  height: 100%;
}
